* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.76));
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}

img {
  border: 2px solid #b5f700;
  border-radius: 2px;
}

h2,
h1,
.code-color,
p,
h3,
img,
i {
  text-shadow: 1px 1px 5px #000;
}

@keyframes slidein-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidein-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate {
  animation-name: slidein-right;
  animation-duration: 1.5s;
}
.animate-left {
  animation-name: slidein-left;
  animation-duration: 1.5s;
}

.code-color {
  margin-right: 3px;
  color: #b5f700;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

li .code-color-btn {
  border-bottom: 1px solid #b5f700;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: #b5f700;
  border-radius: 2px;
}

.navbar ul {
  background-color: rgb(0, 0, 0);
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
}

.navbar li {
  float: right;
  margin: 10px 10px;
}

.socials {
  position: fixed;
  bottom: 0px;

  background-color: transparent;
}
.socials-mobile {
  display: none;
}

h1 span {
  font-size: 1vw;
}

ul {
  left: 0;
  top: 50%;
}

.socials li {
  list-style: none;
  margin: 30px 30px;
}

a {
  color: white;
  transition: color 0.35s ease;
}

a:hover {
  color: #b5f700af;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  height: 100vh;
  color: white;

  /* background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.1),
      rgba(117, 19, 93, 0.1)
    ),
    url(/imgs/quinton-coetzee-u-n1AFjUclo-unsplash.jpg);
  background-position: center;
  background-size: cover; */
}
.hero {
  padding: 20px;
}
.hero p {
  font-family: monospace;
  font-size: 2vw;
}
.hero h1 {
  font-size: 4vw;
}
.hero h2 {
  font-size: 3vw;
}

#about {
  height: 100vh;
  width: 100vw;
  color: white;
}
#about .container {
  width: 20%;
}
#about p {
  background-color: rgba(128, 128, 128, 0.521);
  padding: 10px;
}

#projects {
  color: white;
  width: 100vw;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}

#projects h1 {
  font-size: 3rem;
  text-align: left;
}
.card-right,
.card-left {
  display: flex;
}

.card-right a,
.card-left a {
  margin: 10px;
}
.card-right p,
.card-left p {
  background-color: rgba(128, 128, 128, 0.521);
  padding: 10px;
}
.card-right {
  text-align: right;
}

.card-description {
  height: 300px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card a {
  margin: 5px;
}

.card img {
  margin: 10 auto;
  height: 280px;
  width: 280px;
}

#contact {
  height: 100vh;
}
#contact .container {
  display: flex;
}

h2 {
  color: white;
  text-align: left;
}

#contact h3 {
  color: white;
}

.fcf-body {
  width: 500px;
}

#fcf-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px #000;
}

#fcf-form-id {
  width: 75%;
  text-shadow: 1px 1px 5px #000;
}

#fcf-button :hover {
  border-bottom: 2px solid #b5f700;
}

.fcf-input-group input,
.fcf-input-group textarea {
  text-shadow: 1px 1px 5px #000;
  color: #b5f700;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  margin: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  resize: none;
}

#fcf-button {
  font-size: 1.25em;
  margin: 12px;
  background-color: transparent;
  color: #b5f700;
  border: none;
  text-shadow: 1px 1px 5px #000;
}

@media only screen and (max-width: 850px) {
  .animate,
  .animate-left {
    animation-name: none;
  }
  * {
    font-size: 1em;
  }
  body {
    width: 100vw;
  }
  .info {
    width: 100%;
  }
  .navbar li {
    display: none;
  }
  .hero h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  .hero p {
    font-size: 1em;
  }
  .socials {
    display: none;
  }
  .socials-mobile {
    display: inline-block;
  }
  .socials-mobile li {
    list-style: none;
    margin-right: 10px;
    display: inline;
  }

  #projects {
    display: block;
  }
  #projects h2 {
    margin-left: 20px;
  }
  #projects h3 {
    font-size: larger;
  }
  #projects img {
    display: none;
  }
  .card-right,
  .card-left {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .container {
    width: 90%;
  }
  .container h2 {
    font-size: 1.5em;
    text-align: left;
  }
  #contact h3 {
    font-size: 1.25m;
    text-align: right;
  }
  #contact .container {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #fcf-form {
    width: 90%;
  }
  .fcf-body {
    width: 90%;
  }
  .card-description p {
    background-color: transparent;
    font-size: larger;
  }
  .pj1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.767),
        rgba(0, 0, 0, 0.822)
      ),
      url(../imgs/pj1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50vh;
    height: 50vh;
  }
  .pj2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.767),
        rgba(0, 0, 0, 0.822)
      ),
      url(../imgs/pj2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50vh;
    height: 50vh;
  }
  .pj3 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.767),
        rgba(0, 0, 0, 0.822)
      ),
      url(../imgs/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50vh;
    height: 50vh;
  }
  .card-description {
    padding: 10px;
  }

  #about .container {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  .animate,
  .animate-left {
    animation-name: none;
  }
  #projects {
    display: flex;
  }
  .info {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .info h2 {
    margin-right: 40px;
  }

  #projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
  }
  .card-description {
    width: 500px;
    height: 250px;
  }
  .card-left,
  .card-right {
    width: 70%;
    height: 70%;
  }
}
